[Unit]
Description=TrashSync QR Scanner
After=network.target

[Service]
User=pi
WorkingDirectory=/home/pi/smart-trash-system/scanner
ExecStart=/usr/bin/python3 /home/pi/smart-trash-system/scanner/scanner.py
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
